.image-container{
    position: relative;
    
    .aboutus-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 20px 1px rgba(255, 255, 255, 0.5);
    }
    
    .image-text{
        position: absolute;
        bottom: 8px;
        right: 10%;
        font-size: 18px;
        color:var(--color-title);
        width: 40%;
        padding: 1vh 3vw;
        margin: 1vh 4vh;
        border-radius: 5px;
        font-size: var(--step-2);
        background-color: rgba(0, 0, 0, 0.568);

        a{
            cursor: pointer;
            color: white;
        }
    }

}
.calculation-description{
    margin: 5% 0 5% 10%;
    h2{
        color: var(--color-title);
    }
    .first-exemple{
        display: flex;
        h2{
            display: block;
            
        }
        p{
            color: var(--color-title);
            width: 50%;
            padding: 6%;
        }

        .first-exemple-img{
            width: 30%;
            height: auto;
            
        }
        
    }
}



@media screen and (max-width: 950px) {
.image-container{

    .image-text{
        width: 70%;
        font-size: var(--step-1);
        margin: 0vh 1vh;
        padding: 0.3vh 3vw;
    }
}

.calculation-description{
    .first-exemple{
        .first-exemple-img{
            width: 43%;
        }
    }
}
}