.main-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1{
        margin-right: 5%;
        text-shadow: #FC0 1px 1px 3px;
    }
}

@media screen and (max-width: 1000px) {
    .main-header{
        display: block;
        position: relative;
        
    video{
        position: absolute;
        margin-top: -10%;
    }

    h1{
        text-shadow: #FC0 1px 1px 3px;
        margin-top: -30%;
    }
    }


}