.main-header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .video-container{
        video{
            margin-top: -10%;
            width: 90%;
            height: 55vh;
        }

        .mobile-logos{
            z-index: 1;
            display: flex;
            width: 90%;
            justify-content: center;
            a{
                margin:-0% 2% 15%;
            }
            .app-button{
                width: 10rem;
                border: none;
                white-space: nowrap; 
                display: flex;
                justify-content: space-evenly;
                padding: 5%;
                background-color: var(--color-text);
                box-shadow: 1px 1px 6px 2px rgba(255, 255, 255, 0.2);
                p{
                    margin: 3% 0% 0%;
                }
                #google-play, #huawei{
                    width: 13%;
                }
                
            }

            .app-button:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.5s ease-in-out;
            }
        }
    }

    h1{
        margin-right: 15%;
        margin-left:-10%;
        text-shadow: #FC0 1px 1px 3px;
    }
}

.statistics-hero{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 8% auto;
    align-items: center;
    text-shadow: 0px 0px 1px var(--color-title);
    h2{
        margin: 0%;
        width: 40%;
        padding-right: 5%;
    }
    .the-four-containers{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
        grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
        background: linear-gradient(110deg, var(--color-background),var(--color-title));

        .grid-item{
            border:1px solid black;
            padding: 2% 5%;
            text-align: center;

            h4{
                color:var(--color-text);
                font-size: var(--step-4);
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-header{
        display: block;
        position: relative;
        
    .video-container{

        video{
            width: 160%;
            margin-left: -25%;
            margin-top: -20%;
        }
        .mobile-logos{
            width: 30%;
            margin: 0 auto 10%;
            a{
                margin:0% 12% 10%;
            }
            .app-button{
                width: 7rem;
                padding: 5% 1%;
            }

            button:hover{
                transform: scale(1);
              }

            #google-play, #huawei{
                margin-right: 0%;
            }
        }
    }
    h1{
        text-shadow: #FC0 1px 1px 3px;
        margin:0% 10% 10%;
    }}

    .statistics-hero{
        flex-direction: column;
        
        h2{
            width: 100%;
            margin: 5%;
        }
        .the-four-containers{
            width: 100%;
        }
    }
}


@media screen and (max-width: 480px) {
    .statistics-hero{
        .the-four-containers{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr); 
        }
    }
}