.main-header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .video-container{
        video{
            margin-top: -10%;
            width: 90%;
            height: 55vh;
        }

        .mobile-logos{
            z-index: 1;
            display: flex;
            width: 90%;
            justify-content: center;
            a{
                margin:-0% 2% 15%;
            }
            .app-button{
                width: 10rem;
                padding: 0;
                border: none;
                white-space: nowrap; 
                display: flex;
                justify-content: space-evenly;
                padding: 5%;
                p{
                    margin: 3% 0% 0%;
                }
                #google-play, #huawei{
                    width: 13%;
                }
                
            }
        }
    }

    h1{
        margin-right: 15%;
        margin-left:-10%;
        text-shadow: #FC0 1px 1px 3px;
    }
}

@media screen and (max-width: 1000px) {
    .main-header{
        display: block;
        position: relative;
        
    .video-container{

        video{
            width: 160%;
            margin-left: -25%;
            margin-top: -20%;
        }
        .mobile-logos{
            width: 30%;
            margin: 0 auto 10%;
            a{
                margin:0% 12% 10%;
            }
            .app-button{
                width: 7rem;
                padding: 5% 1%;
            }

            button:hover{
                transform: scale(1);
              }

            #google-play, #huawei{
                margin-right: 0%;
            }
        }
    }
    h1{
        text-shadow: #FC0 1px 1px 3px;
        margin:0% 10% 10%;
    }
    }
}