.matches-list {
    margin: 0;
     
    .mathclist-header {
      padding: 1%;
      display:flex;
      justify-content: space-between;
      right: 0;
      color:var(--color-title);

      h2{ 
        color: var(--color-title);
        padding-bottom: 2%;

        }
    }}