.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      position: relative;

    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        margin-top: 2vh;
        margin-right: 1vh;
        padding: 10px 25px;
        cursor: pointer;
        font-size: var(--step-3);
        white-space: nowrap;
        border-radius: 10px;
        transition: 1s;
      }

      .nav-link:hover{
        background-color: rgb(68, 66, 66);
        color: var(--color-title);
        transform: scale(1.1)
      }
    }
  }
  