.navigation {
    max-width: 1200px;
    margin: 0% auto;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
  
    .logo-container {
      height: 100%;
      padding: 25px;
      position: relative;
      z-index: 1;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;

      .nav-link {
        margin: 5% 1%;
        padding: 10px 25px;
        cursor: pointer;
        font-size: var(--step-2);
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.75s;
      }

      .nav-link:hover{
        background-color: rgb(41, 41, 41);
        color: var(--color-title);
        transform: scale(1.1)
      }
    }
  }
  