.radio-buttons{
    color: var(--color-title);
    margin-top: 5%;
    align-items: center;
    text-align: center;
    label{
        display: flex;
        justify-content: space-around;
        font-size: var(--step-3);
        h4{
            display: inline;
        }
        input{
            width: 25%;
            height: 1.5rem;
            position: relative;
            top: 4px;
            margin-right: 5px;
        }
    }
}