.card{
    margin: 5% 2%;
    background-color: var(--color-text);
    flex:1;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
    
    h3{
        color:var(--color-title)
    }
    
    .card-image{
        width: 40%;
    }
    
    .card-text{
        color:var(--color-title)
    }
    
}
.card:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 15px 8px rgba(255, 255, 255, 0.2);
}
