h1{
    color:var(--color-title);
    font-size: var(--step-5);
    text-align: center;    
}

.statistics-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0% 15%;
    gap: 15%;
    text-align: center;

    .topsItem{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 950px) {
    .statistics-container{
        display: block;
        margin: 10% 7%;
}
}