h1{
    color:var(--color-title);
    font-size: var(--step-5);
    text-align: center;    
}

.statistics-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0% 2%;
    gap: 5%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .statistics-container{
        display: block;
        margin: 10% 0%;
}
}