h1{
    color:var(--color-title);
    font-size: var(--step-5);
    text-align: center;    
}

.statistics-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0% 5%;
    gap: 5%;
    text-align: center;

    .by-country-item{
        width: 100px;
        background-color: red;
    }
}

@media screen and (max-width: 1000px) {
    .statistics-container{
        display: block;
        margin: 10% 0%;
}
}