.win-percentage-country{
    background-color: rgb(29, 29, 29);
    border-radius: 1%;
    padding: 0% 5%;
    margin-bottom: 5%;

    h2{
        color:var(--color-title);
        font-size: var(--step-4);
        display: inline;
    }
    h3{
        color:var(--color-title);
        font-size: var(--step-3);
        display: inline; 
    }
    
    form{
        margin: 12% 0;
    }
    
    input{
        width: 50%;
        margin-left: 5%;
        padding: 5px 10px;
        text-align: center;
        box-sizing: border-box;
        border: 0.2vh solid var(--color-text);
        border-radius: 2px;
        background-color: var(--color-title);
        font-size: var(--step-2);
        color:var(--color-text);
    }

    .country-selector, .league-selector{
        width: fit-content;
        margin-left: 5%;
        padding: 5px 10px;
        text-align: center;
        box-sizing: border-box;
        border: 0.2vh solid var(--color-text);
        border-radius: 2px;
        background-color: var(--color-title);
        font-size: var(--step-2);
        color:var(--color-text);
    }

    .radio-buttons-group{
        margin-left: auto;
        margin-right: auto;
    }
    
    input:focus, select:focus {
        outline: none;        
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .circle{  
        width: 50%;
        margin: 0 auto 5% auto;
    }
}
@media screen and (max-width: 950px) {
        .win-percentage-country{
            padding: 5%;
            
        }

        select{
            text-align: start;
            padding-left: 2px;
        }
    }
