:root{
  --color-background: black;
  --color-title: #f5deb3;
  --color-text: rgb(95, 67, 14);
  --color-components: rgba(29, 85, 3, 0.836);
  --color-win:rgb(16, 109, 16);
  --color-lost: rgb(136, 16, 16);
  --color-postponed: rgb(18, 18, 97);
  
  --step--2: clamp(0.35rem, calc(0.29rem + 0.29vw), 0.64rem);
  --step--1: clamp(0.42rem, calc(0.34rem + 0.38vw), 0.80rem);
  --step-0: clamp(0.50rem, calc(0.40rem + 0.50vw), 1.00rem);
  --step-1: clamp(0.60rem, calc(0.47rem + 0.65vw), 1.25rem);
  --step-2: clamp(0.72rem, calc(0.55rem + 0.84vw), 1.56rem);
  --step-3: clamp(0.86rem, calc(0.65rem + 1.09vw), 1.95rem);
  --step-4: clamp(1.04rem, calc(0.76rem + 1.40vw), 2.44rem);
  --step-5: clamp(1.24rem, calc(0.88rem + 1.81vw), 3.05rem);
}

body {
  margin: 0;
  font-family: 'Amiri','Nanum Myeongjo','Noto Serif Ahom',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:var(--color-text)
}

h1{
  font-size: var(--step-5);
}

h2{
  font-size: var(--step-4);
}

p{
  font-size: var(--step-1);
}

*{
  box-sizing: border-box;
}