.winner-entry{
    .for-percentage{
        display: flex;
        justify-content: space-between;
        
        h4{
            display: inline;
        }
        
        .games-played{
            padding-left: 10%;
        }
    }

    .for-nonpercentage{
        margin-top: 1%;
        .winner-team{
            color:var(--color-win)
        }
        text-align: start;
    }
}

@media screen and (max-width: 950px) {
    .winner-entry{
        .for-percentage{
            display: block;
            margin: 10%  0%;
        }
}
}